<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">

        <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
        <h2 class="h5 text-white-op animated zoomIn">Selamat Datang, Administrator</h2>
    </div>
    <?php //debug($userPrivParent);die; ?>
</div>
<!-- END Page Header -->
