#list-items-table{
	-webkit-box-shadow: 0px 0px 11px 3px rgba(68,180,166,1);
-moz-box-shadow: 0px 0px 11px 3px rgba(68,180,166,1);
box-shadow: 0px 0px 11px 3px rgba(68,180,166,1);
}

hr{
	margin:10px 10px;
	border-color: #ddd;
}

.centered-background{
  width: 100%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	#content-pos{
  		margin-top:-50px;
  	}
}
.pos-thumbnail{
  width: 100%;
  height: 100px;
}

.table-pos{
    width: 100%
}
.table-pos tbody{
  display: table-row-group;
  cursor: pointer;
  
  padding-top:12px;
}
.table-pos td.first-row-col{
  padding-top:10px;
}
.table-pos td.second-row-col{
  padding-bottom:12px;
}
.table-pos tr.second-row{
  border-bottom: 1px solid #ddd; 
}
.table-pos td{
  padding-left: 10px;
  padding-right:10px;
}
.table-pos tbody.warning{
  background: #fcf8e3;
  box-shadow: 0 2px #fcf8e3;
}