body {
	font-size: 10px;
}

.no-padding-left {
	padding-left: 7px;
}

.no-padding-right {
	padding-right: 0px;
}

hr {
	border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin-top: 2px;
    margin-bottom: 2px;
}

row {
	margin-right: 0;
	padding-right: 0;
}

