.fixed-top-notification{
	width: 80%;
	margin: auto;
	z-index: 10000;
	position: fixed;
	left: 10%;
}

#brand-image{
	width: 30px;
	height: auto;
	margin-right: 8px;
	display: inline-block;
}

.table-scroll {
  height:150px;
  overflow: auto;
}

.span-wrap-text{
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
	display: block;
	/*white-space: nowrap;*/
	height:40px;
}

::-webkit-scrollbar { width: 10px; height: 3px;}

::-webkit-scrollbar-button {  display: none }

::-webkit-scrollbar-track {  background-color: #999;}

::-webkit-scrollbar-track-piece { background-color: #ffffff;}

::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 1px;}

::-webkit-scrollbar-corner { background-color: #999;}}

::-webkit-resizer { background-color: #666;}

.divider-hr{
	margin: 20px 0; border: 0; border-top: 1px solid #44b4a6; border-bottom: 1px solid #fff;
}