<!-- Page Heading -->
<div class='content bg-gray-lighter'>
	<div class="row items-push">
	    <div class="col-sm-7">
	        <h1 class="page-heading">
	            Privileges <small>Create New Module</small>
	        </h1>
	    </div>
	    <div class='col-sm-5 text-right hidden-xs'>
	        <?php echo $this->element('breadcrumbs', $breadcrumbs);?>
	    </div>
	</div>
</div>

<div class='content'>
<div class="row">
	<div class="col-md-12">
		<form role="form" method="POST" action="" class="form form-horizontal push-10-t">
			<div class="block block-themed">
				<div class="block-header bg-primary">
					<h3 class='block-title'> Privilege Information </h3>
				</div>
				<div class="block-content">
					<div class="form-group">
						<div class="col-sm-9">
                            <div class="form-material">
                                <input class="form-control" type="text" id="name" name="data[Privilege][name]" placeholder="First Privileges Name">
                                <label for="name">Name</label>
                            </div>
                        </div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
	                        <div class="form-material">
	                            <input class="form-control" type="text" id="module" name="data[Privilege][module]" placeholder="Privileges Module Name">
	                            <label for="module">Module</label>
	                        </div>
	                    </div>
					</div>
				</div>
			</div>
			
			<div class='block block-themed'>
				<div class='block-header bg-flat-dark'>
					<h3 class='block-title'> Confirmation </h3>
				</div>
				<div class='block-content'>
					<div class='row items-push'>
					<div class='col-sm-12'>
						<span> Are you sure ? </span>

						<button type="submit" class="btn btn-success pull-right"><i class="fa fa-check-circle"></i> Save </button>
						<a href="<?php echo $this->Html->url('/admin/privileges');?>" class="btn btn-default pull-right" style="margin-right:10px;"><i class="fa fa-arrow-left"></i> Back</a>
					</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</div>